#result {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}

#resultText {
    color: white;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}

#score {
    color: white;
    font-size: 4vw;
}

#noScore {
    display: flex;
    flex-direction: row;
}

#buttonResult {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titleButton {
    background-color: orange;
    color: black;
    border-radius: 3vw;

    font-size: 3vw;
}

#restartButton {
    background-color: orange;
    color: black;
    border-radius: 3vw;

    font-size: 2vw;
}

#rankingButton {
    background-color: orange;
    color: black;
    border-radius: 3vw;

    font-size: 2vw;
}