#result {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}

#resultText {
    display: flex;
    justify-content: center;
}

#score {
    color: white;
    font-size: 5vw;
    display: flex;
}

#sendRanking {
    color: black;
    background-color: orange;
    border-radius: 3vw;
    font-size: 1vw;
}

#detailText {
    color: white;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttonResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#titleButton {
    background-color: orange;
    color: black;
    border-radius: 3vw;

    font-size: 2vw;
}

#restartButton {
    background-color: orange;
    color: black;
    border-radius: 3vw;

    font-size: 2vw;
}

#rankingButton {
    background-color: orange;
    color: black;
    border-radius: 3vw;

    font-size: 2vw;
}